/*----------------------------------------------------------------------------*/
/* 	@Colors 							
/*----------------------------------------------------------------------------*/
/* Graphic chart 	----------*/
$blue-dark   : #0c141f;
$blue-medium : #6fc3df;
$blue-light  : #e6ffff ;
$orange-dark   : #df740c ;
$orange-medium : #f1bc2c ;
$orange-light  : #ffe64d ;
/* FLAT COLOR 	----------*/
$turquoise 	 :  #1abc9c; // turquoise 
$greensea 	 :  #16A085; // turquoise foncé
$emerland 	 :  #2ecc71; // vert
$nephritis 	 :  #27ae60; // vert foncé
$peterriver  :  #3498db; // bleu
$belizehole  :  #2980b9; // bleu foncé
$amethyst 	 :  #9b59b6; // mauve
$wisteria 	 :  #8e44ad; // mauve foncé
$wetasphalt  :  #34495e; // goudron 
$midnightblue:  #2C3E50; // goudron foncé
$sunflower 	 :  #f1c40f; // jaune orangé
$orange 	 :  #F39C12; // jaune orangé foncé
$carrot 	 :  #e67e22; // orange 
$pumpkin 	 :  #D35400; // orange foncé
$alizarin 	 :  #e74c3c; // rouge 
$pomegranate :  #c0392b; // rouge foncé
$clouds 	 :  #ECF0F1; // gris
$silver 	 :  #bdc3c7; // gris medium 1
$concrete 	 :  #95a5a6; // gris medium 2
$asbestos 	 :  #7F8C8D; // gris medium 3
$asbestos-dark: #373E3E; // gris foncé
/* social colors 	----------*/
$facebook : #3b5998;
$twitter  : #43bfe1;