
.breadcrumb{
	position: relative;
	margin: 0;
	margin-bottom: $margin;
	background: $breadcrumb-background;
	border: 1px solid darken($breadcrumb-background,12%);


	a{
		color: $color-1-1;
	}
}
.breadcrumb-list{
	margin: 0;
	padding: $margin/3 $margin/2 ;
}
.breadcrumb-list-item{
	list-style: none;
	display: inline-block;
}
.breadcrumb-list>li+li:before{
	content: "/\00a0";
	color: lighten($color-1-1,50%);
}