.owl-controls{
	position: relative;
	text-align: center;
	margin-top: 10px;
	.owl-nav{
		display: block;
		.owl-prev, .owl-next{
			display: inline-block;
			padding: 4px 7px;
			margin: 5px;
			background: $slider-color;
			//border: 1px solid darken($slider-color,12%);
			border-radius: 10%;

			color: $slider-font-color;

			@include transition-duration();
		}
		.owl-prev:hover, .owl-next:hover{
			background: darken($slider-color,12%);
			
		}
	}
}

.owl-dots{
	display: block;
	.owl-dot { display: inline-block;}
	.owl-dot span{
		display: inline-block;
		height: 10px;
		width: 10px;
		margin: 5px 7px;
		background: $slider-color;
		border-radius: 50%;

		@include transition-duration();
	}	
	.owl-dot.active span{
		background: darken($slider-color,12%);

		@include transition-duration();
	}	
}