
table.table{
	width: 100%;
	tr{
		border-bottom: 1px solid darken($table-background,12%);
		th{
			padding: $margin/3 $margin/2 ;
			border-left: 1px solid darken($table-background,12%);
			border-right: 1px solid darken($table-background,12%);
		}
		th:first-child{border-left: 0px transparent;}
		th:last-child{border-right: 0px transparent;}
	}
	tr:last-child{border-bottom: 0px transparent;}
		
	thead{
		background: darken($table-background,8%);
		border-bottom: 1px solid darken($table-background,12%);
		tr{
			th{}
		}
	}
	tbody{
		background: darken($table-background,4%);
		tr{
			th{font-weight: normal;}
		}
		tr:nth-child(odd){background: $table-background;}
	}

}